[submodule "cas-rf-u2021xa"]
	path = iocs-docker-mix/cas-rf-u2021xa
	url = https://github.com/lnls-sirius/cas-rf-u2021xa
	branch = master
[submodule "cas-rf-ssa"]
	path = iocs/cas-rf-ssa
	url = https://github.com/lnls-sirius/cas-rf-ssa
	branch = master
[submodule "cas-rf-tcu6"]
	path = iocs-docker-mix/cas-rf-tcu6
	url = https://github.com/lnls-sirius/cas-rf-tcu6
	branch = master
[submodule "cas-rf-calc"]
	path = iocs-docker-mix/cas-rf-calc
	url = https://github.com/lnls-sirius/cas-rf-calc
	branch = master
[submodule "cas-rf-poe-adc"]
	path = iocs/cas-rf-poe-adc
	url = https://github.com/lnls-sirius/cas-rf-poe-adc
	branch = master
[submodule "cas-rf-calibration-module"]
	path = iocs/cas-rf-calibration-module
	url = https://github.com/lnls-sirius/cas-rf-calibration-module
	branch = master
[submodule "cas-rf-motor-driver"]
	path = iocs/cas-rf-motor-driver
	url = https://github.com/lnls-sirius/cas-rf-motor-driver
	branch = master
[submodule "streamdevice-ioc"]
	path = iocs-docker-mix/streamdevice-ioc
	url = https://github.com/lnls-sirius/streamdevice-ioc
	branch = master
[submodule "regatron-ioc"]
	path = iocs-docker-mix/regatron-ioc
	url = https://github.com/lnls-sirius/regatron-ioc
	branch = master
[submodule "etherip-ioc"]
	path = iocs-docker-mix/etherip-ioc
	url = https://github.com/lnls-sirius/etherip-ioc
	branch = master
[submodule "sirius-calc-ioc"]
	path = iocs-docker-mix/sirius-calc-ioc
	url = https://github.com/lnls-sirius/sirius-calc-ioc
	branch = master
[submodule "docker-epics-deps"]
	path = base-images/docker-epics-deps
	url = https://github.com/lnls-sirius/docker-epics-deps
	branch = master
[submodule "docker-epics-base"]
	path = base-images/docker-epics-base
	url = https://github.com/lnls-sirius/docker-epics-base
	branch = master
[submodule "docker-epics-synapps"]
	path = base-images/docker-epics-synapps
	url = https://github.com/lnls-sirius/docker-epics-synapps
	branch = master
[submodule "docker-epics-dist"]
	path = base-images/docker-epics-dist
	url = https://github.com/lnls-sirius/docker-epics-dist
	branch = master
[submodule "docker-agilent33521a-epics-ioc"]
	path = iocs-docker/docker-agilent33521a-epics-ioc
	url = https://github.com/lnls-sirius/docker-agilent33521a-epics-ioc
	branch = master
[submodule "agilent33521a-epics-ioc"]
	path = iocs/agilent33521a-epics-ioc
	url = https://github.com/lnls-sirius/agilent33521a-epics-ioc
	branch = master
[submodule "ar-amp-epics-ioc"]
	path = iocs/ar-amp-epics-ioc
	url = https://github.com/lnls-sirius/ar-amp-epics-ioc
	branch = master
[submodule "docker-ar-amp-epics-ioc"]
	path = iocs-docker/docker-ar-amp-epics-ioc
	url = https://github.com/lnls-sirius/docker-ar-amp-epics-ioc
	branch = master
[submodule "docker-dmm7510-epics-ioc"]
	path = iocs-docker/docker-dmm7510-epics-ioc
	url = https://github.com/lnls-sirius/docker-dmm7510-epics-ioc
	branch = master
[submodule "dmm7510-epics-ioc"]
	path = iocs/dmm7510-epics-ioc
	url = https://github.com/lnls-sirius/dmm7510-epics-ioc
	branch = master
[submodule "valon5009-epics-ioc"]
	path = iocs/valon5009-epics-ioc
	url = https://github.com/lnls-sirius/valon5009-epics-ioc
	branch = master
[submodule "docker-valon5009-epics-ioc"]
	path = iocs-docker/docker-valon5009-epics-ioc
	url = https://github.com/lnls-sirius/docker-valon5009-epics-ioc
	branch = master
[submodule "docker-tune-epics-ioc"]
	path = iocs-docker/docker-tune-epics-ioc
	url = https://github.com/lnls-sirius/docker-tune-epics-ioc
	branch = master
[submodule "tune-epics-ioc"]
	path = iocs/tune-epics-ioc
	url = https://github.com/lnls-sirius/tune-epics-ioc
	branch = master
[submodule "sinap-timing-epics-ioc"]
	path = iocs/sinap-timing-epics-ioc
	url = https://github.com/lnls-sirius/sinap-timing-epics-ioc
	branch = master
[submodule "docker-sinap-timing-epics-ioc"]
	path = iocs-docker/docker-sinap-timing-epics-ioc
	url = https://github.com/lnls-sirius/docker-sinap-timing-epics-ioc
	branch = master
[submodule "docker-screen-epics-ioc"]
	path = iocs-docker/docker-screen-epics-ioc
	url = https://github.com/lnls-sirius/docker-screen-epics-ioc
	branch = master
[submodule "screen-epics-ioc"]
	path = iocs/screen-epics-ioc
	url = https://github.com/lnls-sirius/screen-epics-ioc
	branch = master
[submodule "rsfsx-epics-ioc"]
	path = iocs/rsfsx-epics-ioc
	url = https://github.com/lnls-sirius/rsfsx-epics-ioc
	branch = master
[submodule "docker-rsfsx-epics-ioc"]
	path = iocs-docker/docker-rsfsx-epics-ioc
	url = https://github.com/lnls-sirius/docker-rsfsx-epics-ioc
	branch = master
[submodule "galil-dmc30017-epics-ioc"]
	path = iocs/galil-dmc30017-epics-ioc
	url = https://github.com/lnls-sirius/galil-dmc30017-epics-ioc
	branch = master
[submodule "docker-galil-dmc30017-epics-ioc"]
	path = iocs-docker/docker-galil-dmc30017-epics-ioc
	url = https://github.com/lnls-sirius/docker-galil-dmc30017-epics-ioc
	branch = master
[submodule "basler-aca1300-75gm-epics-ioc"]
	path = iocs/basler-aca1300-75gm-epics-ioc
	url = https://github.com/lnls-sirius/basler-aca1300-75gm-epics-ioc
	branch = master
[submodule "docker-basler-aca1300-75gm-epics-ioc"]
	path = iocs-docker/docker-basler-aca1300-75gm-epics-ioc
	url = https://github.com/lnls-sirius/docker-basler-aca1300-75gm-epics-ioc
	branch = master
[submodule "docker-diff-ctrl-epics-ioc"]
	path = iocs-docker/docker-diff-ctrl-epics-ioc
	url = https://github.com/lnls-sirius/docker-diff-ctrl-epics-ioc
	branch = master
[submodule "diff-ctrl-epics-ioc"]
	path = iocs/diff-ctrl-epics-ioc
	url = https://github.com/lnls-sirius/diff-ctrl-epics-ioc
	branch = master
[submodule "base-images/docker-aravisGigE-epics-module"]
	path = base-images/docker-aravisGigE-epics-module
	url = https://github.com/lnls-dig/docker-aravisGigE-epics-module
	branch = master
[submodule "base-images/docker-galil-epics-module"]
	path = base-images/docker-galil-epics-module
	url = https://github.com/lnls-dig/docker-galil-epics-module
	branch = master
[submodule "iocs/rssmx100a-epics-ioc"]
	branch = caputlog
	path = iocs/rssmx100a-epics-ioc
	url = https://github.com/lnls-sirius/rssmx100a-epics-ioc
[submodule "iocs-docker/docker-rssmx100a-epics-ioc"]
	path = iocs-docker/docker-rssmx100a-epics-ioc
	url = https://github.com/lnls-sirius/docker-rssmx100a-epics-ioc
